.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  gap: 4rem;
  width: 95vw;
  margin: 0 auto;
  max-width: 1170px;
  min-height: calc(100vh - 6rem);
}

.img {
  width: 100%;
  border-radius: 4px;
  max-height: 500px;
  object-fit: cover;
}

.about {
  line-height: 2;
  max-width: 45em;
  margin: 0 auto;
  color: #486581;
}

.title {
  text-align: left;
  font-size: 2.2rem;
}

.underline {
  width: 6rem;
  height: 0.25rem;
  background: #127fbf;
}

@media (max-width: 790px) {
  .section {
    display: flex;
    flex-direction: column;
    padding: 28px 8px;
    gap: 16px;
  }

  .title {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }

  .about {
    font-size: 1.1rem;
  }
}
