.cart-login-wraper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.cart-icon {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: #102a43;
  position: relative;
}

.cart-value {
  background-color: #102a43;
  position: absolute;
  top: 0;
  left: 24px;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.85rem;
}

.link {
  text-decoration: none;
  color: #102a43;
}

@media (max-width: 690px) {
  .cart-login-wraper {
    display: none;
  }
}
