.product-card {
  display: flex;
  line-height: 2;
  width: 600px;
  align-items: center;
  gap: 50px;
  border: 2px solid #243b53;
  box-shadow: 0 6px 12px hsla(0, 0%, 0%, 0.2);
  padding: 20px;
  border-radius: 4px;
  justify-content: space-between;
}

.product-image {
  width: 175px;
  height: 200px;
}

.name-and-price {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 320px;
}

.price-and-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
}

.input-qty {
  max-width: 40px;
  border: 1px solid #bcccdc;
  border-radius: 4px;
  text-align: center;
}

.chevrons {
  display: flex;
  gap: 10px;
}

.chevron {
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: #0b69a3;
}

@media (max-width: 600px) {
  .product-card {
    width: 450px;
  }
  .product-image {
    width: 120px;
    height: 150px;
  }
}
