.productCard {
  display: flex;
  line-height: 2;
  width: 600px;
  align-items: center;
  gap: 50px;
  border: 2px solid #243b53;
  box-shadow: 0 6px 12px hsla(0, 0%, 0%, 0.2);
  padding: 20px;
  border-radius: 4px;
  justify-content: space-between;
}

.productImage {
  width: 175px;
  height: 200px;
}

.nameAndPrice {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 320px;
}

.priceAndIcon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
}

.inputQty {
  max-width: 40px;
  border: 1px solid #bcccdc;
  border-radius: 4px;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.chevrons {
  display: flex;
  gap: 10px;
}

.chevron {
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: #0b69a3;
}

@media (max-width: 600px) {
  .productCard {
    width: 450px;
  }
  .productImage {
    width: 120px;
    height: 150px;
  }
}
