.cart-login-wraper {
  display: flex;
  align-items: center;
  gap: 54px;
}

.cart-icon,
.cart-icon a,
.wishlist-icon,
.wishlist-icon a {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #102a43;
  position: relative;
}

.wishlist-icon svg {
  color: #d64545;
}

.cart-value {
  background-color: #102a43;
  position: absolute;
  top: 0;
  right: 24px;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.85rem;
}

.auth-btn {
  background: transparent;
  border: transparent;
  text-decoration: none;
  color: #102a43;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (max-width: 875px) {
  .cart-login-wraper {
    gap: 24px;
  }
}

@media (max-width: 690px) {
  .cart-login-wraper {
    gap: 50px;
  }
}
