.error-container {
  min-height: calc(100vh - 7rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-container h1 {
  font-size: 10rem;
}

.error-container h3 {
  text-transform: none;
  margin-bottom: 2rem;
}
