.sidebarContainer {
  height: 100vh;
  width: 380px;
  padding: 50px 120px;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

li {
  list-style: none;
  cursor: pointer;
  padding-bottom: 40px;
  text-align: left;
}
