.header {
  display: flex;
  align-items: center;
  padding: 1.2rem 7rem;
}

h1 {
  flex: 1;
}

.logo {
  color: #222222;
  text-decoration: none;
}

.cartIcon {
  margin-left: 40px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.cartTotal {
  background-color: black;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.85rem;
}
