.header {
  display: flex;
  align-items: center;
  padding: 1.2rem 7rem;
}

h1 {
  flex: 1;
}

.logo {
  color: #222222;
  text-decoration: none;
}

.cartIcon {
  margin-left: 40px;
  font-size: 1.2rem;
}

.cartTotal {
  vertical-align: top;
}
