.header {
  display: flex;
  align-items: center;
  padding: 1.2rem 7rem;
  width: 90vw;
  margin: 0 auto;
}
.logo {
  height: 60px;
  width: 120px;
  object-fit: contain;
  flex: 1;
}
.h1 {
  flex: 1;
}

.logo {
  color: #102a43;
  text-decoration: none;
}

.cartIcon {
  margin-left: 40px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: #102a43;
}

.cartValue {
  background-color: #102a43;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.85rem;
}

@media (max-width: 760px) {
  .header {
    padding: 10px 4px;
  }
}
