.navbar {
  display: flex;
  gap: 50px;
  font-size: 1.2rem;
}

.link {
  text-decoration: none;
  color: #102a43;
}

.active {
  color: #127fbf;
}

@media (max-width: 600px) {
  .navbar {
    display: none;
  }
}
