.navbar {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin: 20px;
  margin-bottom: 0;
  font-size: 1.2rem;
  align-items: center;
  max-width: 90vw;
  max-width: 1170px;
}

.logo {
  height: 50px;
  width: 120px;
  object-fit: contain;
}

.nav-links {
  display: flex;
  gap: 40px;
  margin-left: 84px;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: #102a43;
}

.active {
  color: #127fbf;
}

.nav-toggle {
  display: none;
}

@media (max-width: 875px) {
  .nav-links {
    margin-left: 20px;
  }
}

@media (max-width: 690px) {
  .nav-links,
  .cart-login-wrapper {
    display: none;
  }

  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
  }

  .nav-toggle {
    display: inline-block;
    background: transparent;
    border: transparent;
    font-size: 2rem;
    cursor: pointer;
    color: #242424;
  }
}
