.productsContainer {
  display: flex;
  padding: 40px;
  gap: 40px;
  flex-wrap: wrap;
}
.productCard {
  width: 400px;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.priceAndIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
