.container {
  display: grid;
  margin: 64px 20px;
  justify-content: center;
  min-height: 80vh;
  gap: 20px;
}

@media (min-width: 690px) {
  .container {
    grid-template-columns: 200px 1fr;
  }
}

@media (max-width: 690px) {
  .filters {
    display: none;
  }
}
