.productCard {
  width: 400px;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.priceAndIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chevrons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.chevron {
  cursor: pointer;
}
