.product-card {
  width: 100%;
  line-height: 1.4;
}

.name {
  color: #222222;
  margin-bottom: 5px;
}

.name:hover {
  color: #127fbf;
}

.img {
  width: 100%;
  object-fit: cover;
  transition: all 0.3s linear;
}

.price-wrapper,
.wishlist,
.wishlist-cart-wrapper,
.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.price {
  font-size: 0.95rem;
}

.wishlist {
  cursor: pointer;
}

.wishlist svg {
  color: #d64545;
}

.wishlist svg:hover {
  color: #ba2525;
}
