.section {
  padding: 5rem 0;
  width: 90vw;
  margin: 0rem auto;
  max-width: 1170px;
  min-height: calc(100vh - 10rem);
}

.product-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 2rem;
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  height: 100%;
}

.title {
  font-size: 2rem;
}

.price {
  font-size: 1.25rem;
  color: #102a43;
}

.description {
  line-height: 1.6;
  max-width: 45rem;
}

.stock {
  text-transform: capitalize;
  width: 300px;
  display: grid;
  grid-template-columns: 120px 1fr;
}

.stock span {
  font-weight: 700;
}

.btn {
  padding: 8px 16px;
  background-color: #102a43;
  border-radius: 4px;
}

.btn a {
  color: #f7f7f7;
}

@media (max-width: 768px) {
  .product-center {
    display: flex;
    flex-direction: column;
  }
}
