.section {
  margin: 0 20px;
  padding: 64px 0;
}

.title {
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.link-container {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.link-btn {
  background: #102a43;
  border-color: transparent;
  border-radius: 4px;
  color: #f7f7f7;
  padding: 4px 8px;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.link-btn a {
  color: #f7f7f7;
}

.clear-btn {
  background-color: #a61b1b;
}

.cart-btn {
  background-color: #f0b429;
  color: #102a43;
}

.btn-wrapper {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

@media (max-width: 690px) {
  .link-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 40px;
  }
}
